.main-container{
  display: flex;
  background-color: #f3f1f7;
  flex-direction: column;
  align-items: center;
  
  
}

form{
  background-color: #79c5e8;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input{
  display: block;
}

label{
  display: block;
}

.submit-button{
  display: block;
}

.close{
  background-color:#79c5e8; ;
  margin-left: 93%;
  border: none;
}

.list{
 border-bottom: 1px solid grey;
  line-height: 0%;
  overflow-wrap: break-word;
}


.list h2{
  font-size: 24px;
}

.main{
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family:'Dosis', sans-serif;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  height: 100%;
  

}

.delete-button{
  margin-left: 90%;
  
  
}

.main-container h1 {
  font-family: 'Caveat' , cursive;
  color: #03a9f4 ;
  font-size: 45px;
}

 .new-thought-button {
  background-color:#03a9f4;
  padding: 10px 225px;
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
  border-radius: 4px;
}

